.add-highlight{
    float: right;
    margin-bottom: 10px;
}
.highlight{
    background-color: yellow;
}
.span-text{
    min-width:100%;
    color: transparent;
}
.custom-textarea{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border-bottom: 1px solid black;
    font: -moz-field;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 552px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    outline: none;
    background-color: #F0F0F0;
}